html {
    box-sizing: border-box;

    font-size: 16px;
}

body {
    position: relative;
}

div,
section {
    box-sizing: border-box;
}

h2 {
    padding: 0;
    margin: 0;
}

.container {
    width: rem(1140px);
    margin: 0 auto;

    @include mq(1439) {
        width: rem(900px);
    }

    @include mq(1023) {
        width: rem(700px);
    }

    @include mq(767) {
        width: rem(420px);
    }

    @include mq(449) {
        width: rem(300px);
    }
}

.posa {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.rotate180 {
    transform: rotate(180deg);
}

.eis__icon {
    position: absolute;
    z-index: 10;
}

@keyframes show {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotation {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}