/* stylelint-disable */

@function rem($pixels) {
    @return #{$pixels / 16px}rem;
}

@mixin below($width, $orientation: 'width') {
    @media screen and (max-#{$orientation}: $width) {
        @content;
    }
}

@mixin above($width, $orientation: 'width') {
    @media screen and (min-#{$orientation}: $width) {
        @content;
    }
}

@mixin between($minWidth, $maxWidth, $orientation: 'width') {
    @media screen and (min-#{$orientation}: $minWidth) and (max-#{$orientation}: $maxWidth) {
        @content;
    }
}

@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: #{$from}px) and (max-width: #{$to}px) {
            @content;
        }
    }

    @else {
        @media (max-width: #{$from}px) {
            @content;
        }
    }
}

// --- Подключение шрифтов
// Подключение:
// @include fontface(Roboto, roboto-bold, 700)
@mixin fontface($family, $filename: $family, $weight: 400, $style: normal) {
    @font-face {
        font-family: $family;
        src: url('../fonts/#{$family}/#{$filename}.woff2') format('woff2'),
        url('../fonts/#{$family}/#{$filename}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin openSans($weight, $style: normal) {
    font-family: 'OpenSans', sans-serif;
    font-weight: $weight;
    font-style: $style;
}

@mixin openSansCond($weight, $style: normal) {
    font-family: 'OpenSansCond', sans-serif;
    font-weight: $weight;
    font-style: $style;
}

@mixin montserrat($weight, $style: normal) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $weight;
    font-style: $style;
}