// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 749px;
$arrow-y: 430px;
$arrow-offset-x: -749px;
$arrow-offset-y: -430px;
$arrow-width: 48px;
$arrow-height: 181px;
$arrow-total-width: 866px;
$arrow-total-height: 854px;
$arrow-image: '../images/sprite.png';
$arrow: (749px, 430px, -749px, -430px, 48px, 181px, 866px, 854px, '../images/sprite.png', 'arrow', );
$bg-banner-name: 'bg-banner';
$bg-banner-x: 0px;
$bg-banner-y: 396px;
$bg-banner-offset-x: 0px;
$bg-banner-offset-y: -396px;
$bg-banner-width: 344px;
$bg-banner-height: 123px;
$bg-banner-total-width: 866px;
$bg-banner-total-height: 854px;
$bg-banner-image: '../images/sprite.png';
$bg-banner: (0px, 396px, 0px, -396px, 344px, 123px, 866px, 854px, '../images/sprite.png', 'bg-banner', );
$eis-1-name: 'eis-1';
$eis-1-x: 289px;
$eis-1-y: 519px;
$eis-1-offset-x: -289px;
$eis-1-offset-y: -519px;
$eis-1-width: 133px;
$eis-1-height: 139px;
$eis-1-total-width: 866px;
$eis-1-total-height: 854px;
$eis-1-image: '../images/sprite.png';
$eis-1: (289px, 519px, -289px, -519px, 133px, 139px, 866px, 854px, '../images/sprite.png', 'eis-1', );
$eis-10-name: 'eis-10';
$eis-10-x: 473px;
$eis-10-y: 396px;
$eis-10-offset-x: -473px;
$eis-10-offset-y: -396px;
$eis-10-width: 73px;
$eis-10-height: 70px;
$eis-10-total-width: 866px;
$eis-10-total-height: 854px;
$eis-10-image: '../images/sprite.png';
$eis-10: (473px, 396px, -473px, -396px, 73px, 70px, 866px, 854px, '../images/sprite.png', 'eis-10', );
$eis-11-name: 'eis-11';
$eis-11-x: 344px;
$eis-11-y: 396px;
$eis-11-offset-x: -344px;
$eis-11-offset-y: -396px;
$eis-11-width: 129px;
$eis-11-height: 115px;
$eis-11-total-width: 866px;
$eis-11-total-height: 854px;
$eis-11-image: '../images/sprite.png';
$eis-11: (344px, 396px, -344px, -396px, 129px, 115px, 866px, 854px, '../images/sprite.png', 'eis-11', );
$eis-2-name: 'eis-2';
$eis-2-x: 749px;
$eis-2-y: 114px;
$eis-2-offset-x: -749px;
$eis-2-offset-y: -114px;
$eis-2-width: 100px;
$eis-2-height: 113px;
$eis-2-total-width: 866px;
$eis-2-total-height: 854px;
$eis-2-image: '../images/sprite.png';
$eis-2: (749px, 114px, -749px, -114px, 100px, 113px, 866px, 854px, '../images/sprite.png', 'eis-2', );
$eis-3-name: 'eis-3';
$eis-3-x: 749px;
$eis-3-y: 326px;
$eis-3-offset-x: -749px;
$eis-3-offset-y: -326px;
$eis-3-width: 93px;
$eis-3-height: 104px;
$eis-3-total-width: 866px;
$eis-3-total-height: 854px;
$eis-3-image: '../images/sprite.png';
$eis-3: (749px, 326px, -749px, -326px, 93px, 104px, 866px, 854px, '../images/sprite.png', 'eis-3', );
$eis-4-name: 'eis-4';
$eis-4-x: 749px;
$eis-4-y: 227px;
$eis-4-offset-x: -749px;
$eis-4-offset-y: -227px;
$eis-4-width: 109px;
$eis-4-height: 99px;
$eis-4-total-width: 866px;
$eis-4-total-height: 854px;
$eis-4-image: '../images/sprite.png';
$eis-4: (749px, 227px, -749px, -227px, 109px, 99px, 866px, 854px, '../images/sprite.png', 'eis-4', );
$eis-5-name: 'eis-5';
$eis-5-x: 422px;
$eis-5-y: 519px;
$eis-5-offset-x: -422px;
$eis-5-offset-y: -519px;
$eis-5-width: 126px;
$eis-5-height: 132px;
$eis-5-total-width: 866px;
$eis-5-total-height: 854px;
$eis-5-image: '../images/sprite.png';
$eis-5: (422px, 519px, -422px, -519px, 126px, 132px, 866px, 854px, '../images/sprite.png', 'eis-5', );
$eis-6-name: 'eis-6';
$eis-6-x: 548px;
$eis-6-y: 519px;
$eis-6-offset-x: -548px;
$eis-6-offset-y: -519px;
$eis-6-width: 116px;
$eis-6-height: 131px;
$eis-6-total-width: 866px;
$eis-6-total-height: 854px;
$eis-6-image: '../images/sprite.png';
$eis-6: (548px, 519px, -548px, -519px, 116px, 131px, 866px, 854px, '../images/sprite.png', 'eis-6', );
$eis-7-name: 'eis-7';
$eis-7-x: 566px;
$eis-7-y: 442px;
$eis-7-offset-x: -566px;
$eis-7-offset-y: -442px;
$eis-7-width: 86px;
$eis-7-height: 77px;
$eis-7-total-width: 866px;
$eis-7-total-height: 854px;
$eis-7-image: '../images/sprite.png';
$eis-7: (566px, 442px, -566px, -442px, 86px, 77px, 866px, 854px, '../images/sprite.png', 'eis-7', );
$eis-8-name: 'eis-8';
$eis-8-x: 749px;
$eis-8-y: 0px;
$eis-8-offset-x: -749px;
$eis-8-offset-y: 0px;
$eis-8-width: 117px;
$eis-8-height: 114px;
$eis-8-total-width: 866px;
$eis-8-total-height: 854px;
$eis-8-image: '../images/sprite.png';
$eis-8: (749px, 0px, -749px, 0px, 117px, 114px, 866px, 854px, '../images/sprite.png', 'eis-8', );
$eis-9-name: 'eis-9';
$eis-9-x: 652px;
$eis-9-y: 442px;
$eis-9-offset-x: -652px;
$eis-9-offset-y: -442px;
$eis-9-width: 73px;
$eis-9-height: 71px;
$eis-9-total-width: 866px;
$eis-9-total-height: 854px;
$eis-9-image: '../images/sprite.png';
$eis-9: (652px, 442px, -652px, -442px, 73px, 71px, 866px, 854px, '../images/sprite.png', 'eis-9', );
$litle-a-name: 'litle-a';
$litle-a-x: 664px;
$litle-a-y: 519px;
$litle-a-offset-x: -664px;
$litle-a-offset-y: -519px;
$litle-a-width: 59px;
$litle-a-height: 68px;
$litle-a-total-width: 866px;
$litle-a-total-height: 854px;
$litle-a-image: '../images/sprite.png';
$litle-a: (664px, 519px, -664px, -519px, 59px, 68px, 866px, 854px, '../images/sprite.png', 'litle-a', );
$menu-name: 'menu';
$menu-x: 849px;
$menu-y: 114px;
$menu-offset-x: -849px;
$menu-offset-y: -114px;
$menu-width: 16px;
$menu-height: 17px;
$menu-total-width: 866px;
$menu-total-height: 854px;
$menu-image: '../images/sprite.png';
$menu: (849px, 114px, -849px, -114px, 16px, 17px, 866px, 854px, '../images/sprite.png', 'menu', );
$message-name: 'message';
$message-x: 749px;
$message-y: 611px;
$message-offset-x: -749px;
$message-offset-y: -611px;
$message-width: 46px;
$message-height: 48px;
$message-total-width: 866px;
$message-total-height: 854px;
$message-image: '../images/sprite.png';
$message: (749px, 611px, -749px, -611px, 46px, 48px, 866px, 854px, '../images/sprite.png', 'message', );
$pinguin-name: 'pinguin';
$pinguin-x: 711px;
$pinguin-y: 297px;
$pinguin-offset-x: -711px;
$pinguin-offset-y: -297px;
$pinguin-width: 27px;
$pinguin-height: 50px;
$pinguin-total-width: 866px;
$pinguin-total-height: 854px;
$pinguin-image: '../images/sprite.png';
$pinguin: (711px, 297px, -711px, -297px, 27px, 50px, 866px, 854px, '../images/sprite.png', 'pinguin', );
$services-1-name: 'services-1';
$services-1-x: 145px;
$services-1-y: 519px;
$services-1-offset-x: -145px;
$services-1-offset-y: -519px;
$services-1-width: 144px;
$services-1-height: 145px;
$services-1-total-width: 866px;
$services-1-total-height: 854px;
$services-1-image: '../images/sprite.png';
$services-1: (145px, 519px, -145px, -519px, 144px, 145px, 866px, 854px, '../images/sprite.png', 'services-1', );
$services-2-name: 'services-2';
$services-2-x: 0px;
$services-2-y: 519px;
$services-2-offset-x: 0px;
$services-2-offset-y: -519px;
$services-2-width: 145px;
$services-2-height: 145px;
$services-2-total-width: 866px;
$services-2-total-height: 854px;
$services-2-image: '../images/sprite.png';
$services-2: (0px, 519px, 0px, -519px, 145px, 145px, 866px, 854px, '../images/sprite.png', 'services-2', );
$services-3-name: 'services-3';
$services-3-x: 566px;
$services-3-y: 297px;
$services-3-offset-x: -566px;
$services-3-offset-y: -297px;
$services-3-width: 145px;
$services-3-height: 145px;
$services-3-total-width: 866px;
$services-3-total-height: 854px;
$services-3-image: '../images/sprite.png';
$services-3: (566px, 297px, -566px, -297px, 145px, 145px, 866px, 854px, '../images/sprite.png', 'services-3', );
$simbol-name: 'simbol';
$simbol-x: 298px;
$simbol-y: 0px;
$simbol-offset-x: -298px;
$simbol-offset-y: 0px;
$simbol-width: 268px;
$simbol-height: 359px;
$simbol-total-width: 866px;
$simbol-total-height: 854px;
$simbol-image: '../images/sprite.png';
$simbol: (298px, 0px, -298px, 0px, 268px, 359px, 866px, 854px, '../images/sprite.png', 'simbol', );
$stamp-name: 'stamp';
$stamp-x: 566px;
$stamp-y: 165px;
$stamp-offset-x: -566px;
$stamp-offset-y: -165px;
$stamp-width: 170px;
$stamp-height: 132px;
$stamp-total-width: 866px;
$stamp-total-height: 854px;
$stamp-image: '../images/sprite.png';
$stamp: (566px, 165px, -566px, -165px, 170px, 132px, 866px, 854px, '../images/sprite.png', 'stamp', );
$step-1-name: 'step-1';
$step-1-x: 797px;
$step-1-y: 556px;
$step-1-offset-x: -797px;
$step-1-offset-y: -556px;
$step-1-width: 64px;
$step-1-height: 46px;
$step-1-total-width: 866px;
$step-1-total-height: 854px;
$step-1-image: '../images/sprite.png';
$step-1: (797px, 556px, -797px, -556px, 64px, 46px, 866px, 854px, '../images/sprite.png', 'step-1', );
$step-10-name: 'step-10';
$step-10-x: 797px;
$step-10-y: 492px;
$step-10-offset-x: -797px;
$step-10-offset-y: -492px;
$step-10-width: 64px;
$step-10-height: 64px;
$step-10-total-width: 866px;
$step-10-total-height: 854px;
$step-10-image: '../images/sprite.png';
$step-10: (797px, 492px, -797px, -492px, 64px, 64px, 866px, 854px, '../images/sprite.png', 'step-10', );
$step-11-name: 'step-11';
$step-11-x: 664px;
$step-11-y: 587px;
$step-11-offset-x: -664px;
$step-11-offset-y: -587px;
$step-11-width: 64px;
$step-11-height: 57px;
$step-11-total-width: 866px;
$step-11-total-height: 854px;
$step-11-image: '../images/sprite.png';
$step-11: (664px, 587px, -664px, -587px, 64px, 57px, 866px, 854px, '../images/sprite.png', 'step-11', );
$step-2-name: 'step-2';
$step-2-x: 0px;
$step-2-y: 664px;
$step-2-offset-x: 0px;
$step-2-offset-y: -664px;
$step-2-width: 61px;
$step-2-height: 65px;
$step-2-total-width: 866px;
$step-2-total-height: 854px;
$step-2-image: '../images/sprite.png';
$step-2: (0px, 664px, 0px, -664px, 61px, 65px, 866px, 854px, '../images/sprite.png', 'step-2', );
$step-3-name: 'step-3';
$step-3-x: 0px;
$step-3-y: 729px;
$step-3-offset-x: 0px;
$step-3-offset-y: -729px;
$step-3-width: 58px;
$step-3-height: 62px;
$step-3-total-width: 866px;
$step-3-total-height: 854px;
$step-3-image: '../images/sprite.png';
$step-3: (0px, 729px, 0px, -729px, 58px, 62px, 866px, 854px, '../images/sprite.png', 'step-3', );
$step-4-name: 'step-4';
$step-4-x: 797px;
$step-4-y: 430px;
$step-4-offset-x: -797px;
$step-4-offset-y: -430px;
$step-4-width: 69px;
$step-4-height: 62px;
$step-4-total-width: 866px;
$step-4-total-height: 854px;
$step-4-image: '../images/sprite.png';
$step-4: (797px, 430px, -797px, -430px, 69px, 62px, 866px, 854px, '../images/sprite.png', 'step-4', );
$step-5-name: 'step-5';
$step-5-x: 184px;
$step-5-y: 664px;
$step-5-offset-x: -184px;
$step-5-offset-y: -664px;
$step-5-width: 60px;
$step-5-height: 58px;
$step-5-total-width: 866px;
$step-5-total-height: 854px;
$step-5-image: '../images/sprite.png';
$step-5: (184px, 664px, -184px, -664px, 60px, 58px, 866px, 854px, '../images/sprite.png', 'step-5', );
$step-6-name: 'step-6';
$step-6-x: 61px;
$step-6-y: 664px;
$step-6-offset-x: -61px;
$step-6-offset-y: -664px;
$step-6-width: 61px;
$step-6-height: 65px;
$step-6-total-width: 866px;
$step-6-total-height: 854px;
$step-6-image: '../images/sprite.png';
$step-6: (61px, 664px, -61px, -664px, 61px, 65px, 866px, 854px, '../images/sprite.png', 'step-6', );
$step-7-name: 'step-7';
$step-7-x: 0px;
$step-7-y: 791px;
$step-7-offset-x: 0px;
$step-7-offset-y: -791px;
$step-7-width: 57px;
$step-7-height: 63px;
$step-7-total-width: 866px;
$step-7-total-height: 854px;
$step-7-image: '../images/sprite.png';
$step-7: (0px, 791px, 0px, -791px, 57px, 63px, 866px, 854px, '../images/sprite.png', 'step-7', );
$step-8-name: 'step-8';
$step-8-x: 122px;
$step-8-y: 664px;
$step-8-offset-x: -122px;
$step-8-offset-y: -664px;
$step-8-width: 62px;
$step-8-height: 58px;
$step-8-total-width: 866px;
$step-8-total-height: 854px;
$step-8-image: '../images/sprite.png';
$step-8: (122px, 664px, -122px, -664px, 62px, 58px, 866px, 854px, '../images/sprite.png', 'step-8', );
$step-9-name: 'step-9';
$step-9-x: 57px;
$step-9-y: 791px;
$step-9-offset-x: -57px;
$step-9-offset-y: -791px;
$step-9-width: 55px;
$step-9-height: 63px;
$step-9-total-width: 866px;
$step-9-total-height: 854px;
$step-9-image: '../images/sprite.png';
$step-9: (57px, 791px, -57px, -791px, 55px, 63px, 866px, 854px, '../images/sprite.png', 'step-9', );
$tablet-name: 'tablet';
$tablet-x: 566px;
$tablet-y: 0px;
$tablet-offset-x: -566px;
$tablet-offset-y: 0px;
$tablet-width: 183px;
$tablet-height: 165px;
$tablet-total-width: 866px;
$tablet-total-height: 854px;
$tablet-image: '../images/sprite.png';
$tablet: (566px, 0px, -566px, 0px, 183px, 165px, 866px, 854px, '../images/sprite.png', 'tablet', );
$vybor-a-name: 'vybor-a';
$vybor-a-x: 0px;
$vybor-a-y: 0px;
$vybor-a-offset-x: 0px;
$vybor-a-offset-y: 0px;
$vybor-a-width: 298px;
$vybor-a-height: 396px;
$vybor-a-total-width: 866px;
$vybor-a-total-height: 854px;
$vybor-a-image: '../images/sprite.png';
$vybor-a: (0px, 0px, 0px, 0px, 298px, 396px, 866px, 854px, '../images/sprite.png', 'vybor-a', );
$spritesheet-width: 866px;
$spritesheet-height: 854px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow, $bg-banner, $eis-1, $eis-10, $eis-11, $eis-2, $eis-3, $eis-4, $eis-5, $eis-6, $eis-7, $eis-8, $eis-9, $litle-a, $menu, $message, $pinguin, $services-1, $services-2, $services-3, $simbol, $stamp, $step-1, $step-10, $step-11, $step-2, $step-3, $step-4, $step-5, $step-6, $step-7, $step-8, $step-9, $tablet, $vybor-a, );
$spritesheet: (866px, 854px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
