$desktops: 1140px;
$phones: 800px;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlack2: #191919;
$colorLightBlue: #BCE8F9;
$colorLightBlue2: #80DFFE;
$colorYellow: #E4BE78;
$colorYellow2: #EAC176;
$colorBlue: #054C7A;
$colorBlue2: #009BD1;
$colorBlue3: #3578BA;
$colorBlue4: #36A4DD;
$colorBlue5: #BCE8F9;
$colorBlueDark: #001B49;
$colorGray: #333333;
$colorGray2: #4C4C4C;
$colorGray3: #E5E5E5;
$colorGrayLight: #FAFAFA;

$easeOutExpo: cubic-bezier(.19, 1, .22, 1);