.banner {
    position: relative;

    padding: 43.35% 0 0;
    overflow: hidden;

    background: url('../../assets/images/banner_bg.png') center center no-repeat;
    background-size: cover;

    @include mq(1023) {
        padding: 47% 0 0;
    }

    @include mq(767) {
        padding: 0;
        height: 360px;
    }

    &__overlay {
        background: url('../../assets/images/towers.png') center center no-repeat;
        background-size: cover;
        opacity: 0;

        animation: show 8s $easeOutExpo;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }

    &__paralax {
        top: 65%;

        background: url('../../assets/images/busch_bg_1.png') 16% 46% no-repeat, url('../../assets/images/busch_bg_2.png') 7.1% 32% no-repeat, url('../../assets/images/busch_bg_1.png') 84% 35% no-repeat;

        @include mq(1439) {
            background: url('../../assets/images/busch_bg_1.png') -6% 89% no-repeat, url('../../assets/images/busch_bg_2.png') -7% 53% no-repeat, url('../../assets/images/busch_bg_1.png') 100% 76% no-repeat;
        }

        @include mq(1023) {
            background: url('../../assets/images/busch_bg_2.png') -7% 53% no-repeat, url('../../assets/images/busch_bg_1.png') 100% 212% no-repeat;
        }

        @include mq(767) {
            display: none;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 10px 0 0;

        @include mq(1439) {
            padding: 0;
        }

        @include mq(767) {
            display: block;
            margin: 40px 0 0;

            text-align: center;
        }
    }

    &__title {
        padding: 0 76px 0 0;

        @include mq(1439) {
            padding: 0 67px 0 0;
        }

        @include mq(1023) {
            padding: 0 14px 20px 0;
        }

        h1 {
            font-size: 72px;
            color: $colorWhite;

            @include openSansCond(700);

            @include mq(1439) {
                font-size: 56px;
            }

            @include mq(1023) {
                font-size: 34px;
            }

            @include mq(767) {
                color: $colorBlue;
            }
        }
    }

    &__description {
        position: relative;
        z-index: 2;

        width: 365px;
        height: 70px;
        padding: 1px 0 2px 27px;
        margin: 0 42px 0 0;

        border-left: 1px solid $colorBlue;

        font-size: 19px;
        line-height: 25px;
        color: $colorWhite;

        @include montserrat(700);

        @include mq(1439) {
            width: 318px;
            height: 66px;
            padding: 1px 0 2px 17px;
            margin: 0 28px 0 0;

            font-size: 15px;
            line-height: 21px;
        }

        @include mq(767) {
            width: 100%;
            padding: 0;
            margin: 0;

            border-left: none;

            color: $colorBlue;
        }

        span {
            position: relative;
            z-index: 2;
        }

        .icon {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            @include mq(1439) {
                top: -6px;
                left: -10px;

                opacity: .8;

                transform: scale(.7);
                transform-origin: 0 0;
            }

            @include mq(767) {
                display: none;
            }
        }
    }

    &__message {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 116px;
        padding: 4px 0 0;

        border-radius: 50%;
        border: 1px solid rgba($colorWhite, .5);
        transform: translate3d(0, 5px, 0);

        @include mq(767) {
            position: absolute;
            top: -27px;
            right: calc(50vw - 210px);

            border: none;
        }

        @include mq(449) {
            right: calc(50vw - 170px);
        }
    }

    &__message-decor {
        position: absolute;
        top: 14px;
        left: 14px;

        width: 86px;
        height: 86px;

        border-radius: 50%;
        border: 1px solid rgba($colorWhite, .5);

        animation-name: rotation;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @include mq(767) {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;

            width: 8px;
            height: 8px;

            border-radius: 50%;
            background-color: $colorWhite;
            box-shadow: 0 0 6px 2px rgba($colorWhite, 1);
        }
    }

    &__message-icon {
        transform: translate3d(5px, 0, 0);
        cursor: pointer;
    }
}