.contacts {
    position: relative;

    padding: 54px 0 0;

    background: url('../../assets/images/contacts_bg.jpg') center center no-repeat;
    background-size: cover;

    @include mq(767) {
        padding: 45px 0 0;

        background: $colorBlue2;
    }

    &__head {
        position: relative;
    }

    &__button {
        position: absolute;
        top: 14px;
        right: 67px;

        padding: 0 4px 3px 0;

        cursor: pointer;
        border-bottom: 2px solid #6E9AD5;

        font-size: 13px;
        color: $colorBlack2;

        @include montserrat(700);

        @include mq(1439) {
            right: 0;
        }

        @include mq(1023) {
            top: 64px;
            right: -15px;
        }

        @include mq(767) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: -14px;
            left: -59px;

            width: 45px;
            height: 45px;
            overflow: hidden;

            border-radius: 50%;
            background-image: radial-gradient(closest-side, rgba($colorWhite, .4) 15%, rgba($colorWhite, .15) 15%, rgba($colorWhite, .15) 60%, rgba($colorWhite, .05) 60%, rgba($colorWhite, .05) 100%);
        }
    }

    &__title {
        padding: 0 6px 0 0;
        margin: 0 0 364px;

        @include mq(767) {
            padding: 0;
            margin: 0 0 527px;
        }

        h2 {
            font-size: 40px;
            color: $colorWhite;
            text-align: center;

            @include openSansCond(700);

            @include mq(1023) {
                font-size: 34px;
            }

            @include mq(767) {
                font-size: 30px;
            }
        }
    }

    &__form {
        width: 912px;
        padding: 126px 83px 47px 115px;
        margin: 0 auto 63px;

        background-color: rgba(#001A48, .85);

        @include mq(1023) {
            width: 100%;
            padding: 126px 30px 40px;
        }

        @include mq(767) {
            padding: 126px 15px 20px;
            margin: 0 auto 21px;
        }
    }

    &__form-title {
        padding: 0 65px 20px 0;

        @include mq(767) {
            padding: 0 0 10px;
        }

        h2 {
            font-size: 40px;
            color: $colorWhite;
            text-align: center;

            @include openSansCond(700);

            @include mq(1023) {
                font-size: 34px;
            }

            @include mq(767) {
                font-size: 30px;
            }
        }
    }

    &__form-subtitle {
        padding: 0 51px 9px 0;

        font-size: 16px;
        color: $colorWhite;
        text-align: center;

        @include montserrat(400);

        @include mq(767) {
            padding: 0 0 9px;
        }
    }

    &__form-row {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0;

        @include mq(1023) {
            flex-wrap: wrap;
        }

        @include mq(767) {
            margin: 0;
        }

        input,
        textarea {
            width: 340px;
            height: 65px;
            padding: 24px 0;
            margin: 0 0 27px;

            border: none;
            outline: none;
            border-bottom: 2px solid $colorLightBlue;
            background: none;

            font-size: 17px;
            color: $colorWhite;

            @include montserrat(400);

            @include mq(1023) {
                width: 100%;
            }

            @include mq(767) {
                height: 50px;
                margin: 0 0 15px;
            }

            &::placeholder {
                color: $colorWhite;
            }
        }

        textarea {
            width: 100%;
            height: 61px;
            padding: 20px 0;
            resize: none;
        }
    }

    &__form-footer {
        display: flex;
        justify-content: space-between;

        @include mq(767) {
            flex-wrap: wrap;

            button {
                margin: 0 auto;
            }
        }
    }

    &__form-notes {
        max-width: 300px;

        font-size: 12px;
        line-height: 14.62px;
        color: $colorWhite;

        @include montserrat(400);

        @include mq(767) {
            width: 100%;
            max-width: 100%;
            margin: 0 0 20px;
        }
    }

    &__content {
        position: absolute;
        top: 174px;
        left: 50%;

        width: 1146px;
        max-width: 95%;
        height: 372px;

        box-shadow: 0 0 15px 5px rgba($colorBlue, .5);
        transform: translate3d(-50%, 0, 0);

        @include mq(767) {
            top: 257px;

            width: 100%;
            height: 440px;
        }

        @include mq(449) {
            top: 302px;
        }

        &.is-open {
            position: fixed;
            z-index: 20;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100vh;
            padding: 100px;

            background-color: rgba($colorBlueDark, .75);

            transform: translate3d(0, 0, 0);

            @include mq(1023) {
                padding: 50px;
            }

            .contacts__info {
                display: none;
            }

            .contacts__map {
                background-color: #EEE;
            }

            .contacts__content-close {
                position: absolute;
                top: 30px;
                right: 30px;

                display: inline-block;

                opacity: 1;
                cursor: pointer;

                vertical-align: top;

                transition: opacity .3s ease-out;

                @include mq(1023) {
                    top: 10px;
                    right: 10px;
                }

                svg {
                    width: 36px;
                    height: 36px;

                    fill: $colorWhite;
                }

                &:hover {
                    opacity: .85;
                }
            }
        }
    }

    &__content-close {
        display: none;
    }

    &__info {
        position: absolute;
        z-index: 2;
        top: -24px;
        left: 70px;

        width: 339px;
        padding: 32px 29px 29px;

        background-color: $colorWhite;

        @include mq(767) {
            top: -158px;
            left: 50%;

            padding: 15px 10px 15px 20px;

            transform: translate3d(-50%, 0, 0);
        }

        @include mq(449) {
            width: 270px;
        }
    }

    &__info-inner {
        padding: 0 0 12px 23px;

        border-left: 2px solid $colorLightBlue2;

        @include mq(767) {
            padding: 0 0 5px 15px;
        }
    }

    &__info-phone {
        display: block;
        margin: 0 0 23px;

        font-size: 25px;
        color: $colorBlue;
        text-decoration: none;

        @include montserrat(700);

        @include mq(767) {
            margin: 0 0 10px;

            font-size: 17px;
        }
    }

    &__info-address,
    &__info-address a {
        font-size: 15px;
        line-height: 20.56px;
        color: $colorBlack2;
        text-decoration: none;

        @include montserrat(400);

        @include mq(767) {
            font-size: 13px;
        }
    }

    &__map {
        width: 100%;
        height: 100%;

        background-color: $colorWhite;
    }

    .eis__icon-2 {
        bottom: 32.4%;
        left: 50%;

        transform: scale(.85) translate3d(-603px, 0, 0);

        // @include mq(1023) {
        //     display: none;
        // }
    }

    .eis__icon-10 {
        top: -36px;
        left: 13.9%;

        // @include mq(1023) {
        //     display: none;
        // }
    }

    .eis__icon-11 {
        bottom: 69px;
        left: 50%;

        transform: translate3d(568px, 0, 0);

        @include mq(1439) {
            transform: translate3d(380px, 0, 0);
        }

        @include mq(1023) {
            display: none;
        }
    }
}