.projects {
    position: relative;

    background: url('../../assets/images/publication_bg.jpg') center center no-repeat;
    background-size: cover;

    &__head {
        position: relative;

        padding: 73px 30% 71px 0;

        @include mq(1439) {
            padding: 45px 30% 37px 0;
        }

        @include mq(1023) {
            padding: 40px 0 30px;
        }
    }

    &__head-arrow {
        position: absolute;
        top: 0;
        left: 50%;

        transform: translate3d(-50%, -50%, 0);
    }

    &__title {
        margin: 0 0 50px;

        @include mq(1439) {
            margin: 0 0 22px;
        }

        @include mq(1023) {
            margin: 0 0 10px;
        }

        h2 {
            font-size: 40px;
            line-height: 55px;
            color: $colorBlue;

            @include openSansCond(700);

            @include mq(1023) {
                font-size: 34px;

                br {
                    display: none;
                }
            }

            @include mq(767) {
                line-height: 40px;
            }
        }
    }

    &__subtitle {
        font-size: 17px;
        line-height: 24px;
        color: $colorGray;

        @include montserrat(400);

        @include mq(1023) {
            font-size: 15px;
            line-height: 21px;
        }

        @include mq(767) {
            font-size: 14px;
            letter-spacing: -.2px;
            line-height: 18px;
        }
    }

    &__image {
        position: absolute;
        top: -89px;
        right: -79px;

        @include mq(1439) {
            top: -117px;

            transform: scale(.75);
            transform-origin: 50% 50%;
        }

        @include mq(1023) {
            top: -146px;
            right: -121px;

            transform: scale(.55);
        }

        @include mq(767) {
            display: none;
        }
    }

    &__content {
        overflow: hidden;
    }

    &__content-row {
        width: auto;
        margin: 0 0 55px;

        &:nth-child(2n + 1) {
            padding: 0 0 0 calc(50% - 570px);

            @include mq(1439) {
                padding: 0 0 0 calc(50% - 450px);
            }

            @include mq(1023) {
                padding: 0;
            }
        }

        &:nth-child(2n) {
            padding: 0 calc(50% - 570px) 0 0;

            @include mq(1439) {
                padding: 0 calc(50% - 450px) 0 0;
            }

            @include mq(1023) {
                padding: 0;
            }
        }
    }

    &__content-outer {
        position: relative;

        margin: 0 -40px;

        @include mq(1439) {
            margin: 0 -30px;
        }

        @include mq(849) {
            margin: 0;
        }
    }

    &__cart {
        display: inline-block;
        width: 538px;
        padding: 0 40px;
        overflow: hidden;

        @include mq(1439) {
            width: 364px;
            padding: 0 30px;
        }

        @include mq(849) {
            padding: 0 0 0 30px;
        }

        @include mq(659) {
            padding: 0 0 0 10vw;
        }
    }

    &__cart-inner {
        width: 458px;

        @include mq(1439) {
            width: 304px;
        }
    }

    &__cart-image {
        position: relative;

        width: 458px;
        height: 260px;
        overflow: hidden;

        @include mq(1439) {
            width: 304px;
            height: 172px;
        }

        @include mq(659) {
            width: 80vw;
            height: 45vw;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: linear-gradient(to top, rgba($colorBlue, .85), rgba($colorBlue, .5) 70px, rgba($colorBlue, 0) 90px, rgba($colorBlue, 0));

            @include mq(1023) {
                background-image: linear-gradient(to top, rgba($colorBlue, .85), rgba($colorBlue, .5) 30px, rgba($colorBlue, 0) 55px, rgba($colorBlue, 0));
            }
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 100%;

            transform: translate3d(-50%, -50%, 0);
        }
    }

    &__cart-text {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;

        padding: 0 35px 31px;

        font-size: 17px;
        color: $colorWhite;

        @include montserrat(400);

        @include mq(1439) {
            padding: 0 15px 20px;

            font-size: 14px;
        }

        @include mq(1023) {
            padding: 0 10px 15px;

            font-size: 13px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 9px;
            right: -33px;

            width: 53px;
            height: 2px;

            background-color: $colorWhite;

            @include mq(1439) {
                top: 7px;

                width: 28px;
            }

            @include mq(1023) {
                display: none;
            }
        }
    }

    &__name {
        position: relative;

        padding: 25px 0 0 81px;

        font-size: 30px;
        color: $colorGray;

        @include openSansCond(700);

        @include mq(1439) {
            padding: 20px 0 0 62px;

            font-size: 19px;
        }

        @include mq(1023) {
            padding: 15px 10px 0;

            font-size: 17px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 44px;
            left: 3px;

            width: 54px;
            height: 2px;

            background-color: $colorLightBlue;

            @include mq(1439) {
                top: 29px;

                width: 34px;
            }

            @include mq(1023) {
                display: none;
            }
        }
    }

    &__content-arrow {
        position: absolute;
        top: 115px;

        @include mq(1439) {
            top: 71px;
        }

        @include mq(1023) {
            display: none !important;
        }

        &--left {
            left: -37px;

            @include mq(1439) {
                left: -17px;
            }
        }

        &--right {
            right: -37px;

            @include mq(1439) {
                right: -17px;
            }
        }
    }

    &__content-button {
        padding: 9px 0 43px 75px;

        text-align: center;

        @include mq(1439) {
            padding: 9px 0 23px;
        }
    }

    .eis__icon-4 {
        bottom: 70px;
        left: 18.6%;

        @include mq(1439) {
            bottom: 10px;
            left: 11.6%;
        }

        @include mq(1023) {
            left: 70%;

            transform: scale(.75);
            transform-origin: 100% 50%;
        }

        @include mq(449) {
            bottom: 50px;
            left: auto;
            right: 0;
        }
    }

    .eis__icon-5 {
        bottom: -46px;
        right: 21.2%;

        @include mq(1439) {
            right: 125px;
        }

        @include mq(1023) {
            display: none;
        }
    }
}