.steps {
    position: relative;

    background-image: linear-gradient(to bottom, $colorBlue, $colorBlue 63.4%, $colorBlue2 63.4%, $colorBlue2);

    &__bg {
        background: url('../../assets/images/steps_bg.png') center center no-repeat;
        background-size: cover;
    }

    &__content {
        position: relative;

        padding: 102px 50px 0 0;
    }

    &__title {
        padding: 2px 0 0 12px;

        text-align: center;

        h2 {
            font-size: 40px;
            color: $colorWhite;
            font-weight: 400;

            @include openSansCond(700);
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 48px 40px 63px;
        counter-reset: num;
    }

    &__item {
        width: 33.33%;
        margin: 0 0 88px;
        counter-increment: num;

        &:first-child,
        &:last-child {
            width: 100%;
            margin: 0 0 69px;
        }

        &:nth-child(10) .steps__item-text::after,
        &:nth-child(11) .steps__item-text::after {
            right: -98px;
        }
    }

    &__item-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 240px;
        margin: 0 auto;
    }

    &__item-icon {
        width: 74px;
        margin: 0 22px 0 0;
    }

    &__item-text {
        position: relative;

        font-size: 17px;
        line-height: 24.29px;
        color: $colorGrayLight;
        text-align: left;

        @include montserrat(400);

        > p:first-child {
            position: relative;

            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                top: -1px;
                right: -25px;

                width: 3px;
                height: 3px;

                border-radius: 50%;
                background-color: $colorWhite;
                box-shadow: 0 0 14px 2px rgba($colorWhite, .8);
            }
        }

        &::after {
            content: counter(num);
            position: absolute;

            top: 24px;
            right: -63px;

            opacity: .09;

            font-size: 91px;
            color: $colorLightBlue2;

            @include openSansCond(700);
        }
    }

    &__content-simbol {
        position: absolute;
        bottom: 6px;
        left: 233px;
    }

    &__questions {
        padding: 64px 0 98px;

        .steps__title {
            margin: 0 40px 31px 0;
        }
    }

    &__subtitle {
        padding: 0 20px 8px 0;

        font-size: 16px;
        color: $colorBlack2;
        text-align: center;

        @include montserrat(400);
    }

    &__form {
        width: 809px;
        padding: 30px 3px 0 4px;
        margin: 0 auto;
    }

    &__form-row {
        display: flex;
        justify-content: space-between;
        margin: 0 0 17px;

        input,
        textarea {
            width: 380px;
            height: 67px;
            padding: 25px 25px 30px;

            border: none;
            outline: none;

            font-size: 17px;
            color: $colorBlack2;

            @include montserrat(400);
        }

        textarea {
            width: 100%;
            height: 85px;
            padding: 18px 25px;
            resize: none;
        }
    }

    &__form-footer {
        display: flex;
        justify-content: space-between;
        padding: 6px 154px 2px 26px;
    }

    &__form-notes {
        width: 297px;

        font-size: 12px;
        line-height: 14.62px;
        color: $colorBlack2;

        @include montserrat(400);
    }

    &__icon {
        position: absolute;
        z-index: 10;

        &-1 {
            top: 56%;
            left: 31.2%;

            transform: scale(.85);
        }

        &-8 {
            bottom: -56px;
            right: 16.7%;
        }
    }
}