.technology {

    &__body {
        position: relative;
        z-index: 2;

        padding: 0 0 20px;
        margin: 0 0 -220px;

        background: rgba($colorBlue, .5);
        clip-path: polygon(0 0, 100% 0, 100% 82%, 50% 100%, 0 82%);

        @include mq(1439) {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
        }

        @include mq(767) {
            clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
        }
    }

    &__body-bg {
        padding: 81px 0 14px;

        background: $colorWhite url('../../assets/images/technology_bg.png') center center no-repeat;
        background-size: cover;

        clip-path: polygon(0 0, 100% 0, 100% 82%, 50% 100%, 0 82%);

        @include mq(1439) {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
        }

        @include mq(1023) {
            padding: 50px 0 14px;
        }

        @include mq(767) {
            clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin: 0 0 26px;

        @include mq(1023) {
            flex-wrap: wrap;
        }

        @include mq(449) {
            margin: 0 0 15px;
        }
    }

    &__title {
        padding: 5px 0 0;

        @include mq(1023) {
            width: 100%;
            padding: 0 0 20px;

            br {
                display: none;
            }
        }

        @include mq(767) {
            text-align: center;
        }

        h2 {
            font-size: 40px;
            color: $colorBlue;

            @include openSansCond(200);

            @include mq(1023) {
                font-size: 34px;
            }

            @include mq(449) {
                font-size: 30px;
            }

            b {
                font-weight: 700;
            }
        }
    }

    &__head-link {
        width: 388px;
        padding: 12px 15px 18px;

        background-color: $colorWhite;
        box-shadow: 0 0 20px 4px rgba($colorBlue, .2);
        border-left: 4px solid $colorBlue2;

        font-size: 17px;
        line-height: 24.29px;

        @include mq(1023) {
            margin: 0 auto;
        }

        @include mq(449) {
            font-size: 14px;
            line-height: 22px;
        }

        a {
            color: $colorBlue4;
            text-decoration: none;

            @include montserrat(700);
        }

        span {
            color: $colorGray;

            @include montserrat(400);
        }
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 28px;

        @include mq(1439) {
            flex-wrap: wrap;
        }

        @include mq(449) {
            margin: 0 0 15px;
        }
    }

    &__video {
        padding: 3px 0 0;
        margin: 0 29px 0 0;

        @include mq(1439) {
            width: 100%;
            margin: 0 0 30px;
        }

        @include mq(449) {
            margin: 0 0 15px;
        }

        video {
            width: 752px;
            height: 422px;

            @include mq(1439) {
                width: 900px;
                height: 505px;
            }

            @include mq(1023) {
                width: 700px;
                height: 401px;
            }

            @include mq(767) {
                width: 420px;
                height: 236px;
            }

            @include mq(449) {
                width: 300px;
                height: 170px;
            }
        }
    }

    &__description {
        padding: 0 3px 0 0;

        @include mq(1439) {
            width: 100%;
        }

        p {
            margin: 0 0 27px;

            font-size: 17px;
            line-height: 24.29px;
            color: $colorGray;

            @include montserrat(400);

            @include mq(767) {
                margin: 0 0 16px;

                font-size: 16px;
                line-height: 21.29px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 64px;

        @include mq(1439) {
            justify-content: center;
        }
    }

    &__footer-wrapper {
        display: flex;

        box-shadow: 0 0 20px 4px rgba($colorBlue, .3);

        @include mq(767) {
            flex-wrap: wrap;
        }
    }

    &__footer-title {
        width: 443px;
        height: 101px;
        padding: 24px 0 0 40px;

        background-color: $colorWhite;

        @include mq(767) {
            width: 100%;
            height: 93px;
        }

        @include mq(449) {
            padding: 24px 0 0 20px;
        }

        p {
            display: inline-block;
            padding: 0 0 0 26px;

            border-left: 1px solid #80DFFE;

            font-size: 17px;
            line-height: 24.29px;
            color: $colorGray;

            @include montserrat(400);
        }
    }

    &__footer-link {
        position: relative;

        width: 265px;
        height: 101px;
        padding: 35px 0 0 32px;

        background-color: $colorBlue2;

        @include mq(767) {
            width: 100%;
            height: 93px;
        }

        a {
            color: $colorWhite;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;

            @include openSansCond(700);
        }
    }

    &__footer-icon {
        position: absolute;
        top: -26px;
        right: -32px;

        @include mq(767) {
            top: -15px;
            right: -20px;
        }

        @include mq(449) {
            right: 0;
        }
    }

    &__map {
        position: relative;
        z-index: 1;

        height: 791px;

        @include mq(1439) {
            height: 700px;
        }

        @include mq(1023) {
            height: 600px;
            padding: 0;
        }
    }

    &__map-title {
        padding: 0 0 91px 19px;

        text-align: center;

        @include mq(767) {
            padding: 19px 0 52px 19px;
        }

        h2 {
            font-size: 40px;
            color: $colorBlue;

            @include openSansCond(700);

            @include mq(1023) {
                font-size: 34px;
            }

            @include mq(767) {
                font-size: 30px;
            }
        }
    }
}