extends ../_template

block variables
	- var title = "Главная страница"

block content
	include ./../blocks/_banner
	include ./../blocks/_counter
	include ./../blocks/_projects
	include ./../blocks/_services
	include ./../blocks/_about
	include ./../blocks/_steps
	include ./../blocks/_technology
	include ./../blocks/_confidence
	include ./../blocks/_vybor
	include ./../blocks/_reviews
	include ./../blocks/_publication
	include ./../blocks/_contacts
