.about
    .container
        .about__title
            h2 <b>О КОМПАНИИ</b> ГОВОРЯТ СОТРУДНИКИ
        .about__content
            .about__description
                .about__quote Этапу возведения зданий, сооружений, других объектов строительства всегда предшествует этап проектирования,
                .about__text будь это здание небольшого кафе или застройка целого квартала. Он подразумевает создание чертежей, спецификаций, смет, прохождение экспертиз. От грамотного выполнения проектных работ зависят расходы средств, времени при строительстве и качество готового продукта"
                .about__author
                    .about__author-name КОСМАКОВ НИКОЛАЙ ВЯЧЕСЛАВОВИЧ
                    .about__author-position Генеральный директор компании, <br>член ассоциации Совет проектировщиков <br>и Лиги изыскателей
                    .about__author-icon
                        .icon.icon-stamp
            .about__image
                img(src="assets/images/about_author.png" alt="")
    .about__icon.about__icon-7
        .icon.icon-eis-7
    .about__icon.about__icon-6
        .icon.icon-eis-6