section.banner
    .banner__overlay.posa
    .banner__inner.posa
        .container
            header.header
                .header__logotip
                    .header__icon.posa
                        .icon.icon-pinguin
                    .header__title АНТАРКТИДА
                    .header__slogan раздвигая горизонты
                .header__main
                    a(href="tel:+73012501818").header__phone +7 (301) 250 18 18
                    .header__button
                        a(href="#projects").btn.btn-outer.btn-white.js-scroll-trigger НАШИ ПРОЕКТЫ
                    .header__menu
                        .icon.icon-menu
                        |Меню
            .banner__content
                .banner__title
                    h1 НУЖЕН ПРОЕКТ?
                .banner__description
                    .icon.icon-bg-banner
                    span Узнайте как профессиональные возможности и опыт смогут помочь в этом
                .banner__message
                    .banner__message-decor
                    .banner__message-icon
                        .icon.icon-message

    .banner__paralax.posa(data-type="background-paralax")
