section.contacts
    .container
        .contacts__head
            .contacts__title
                h2 КОНТАКТНАЯ ИНФОРМАЦИЯ
            .contacts__button.js-contacts-map-open Развернуть карту
        form.contacts__form(autocomplete="off" action="#" method="post")
            .contacts__form-title
                h2 ОСТАЛИСЬ ВОПРОСЫ?
            .contacts__form-subtitle Остались какие-либо вопросы, напишите нам, и мы на них ответим
            .contacts__form-row
                input(type="text" name="contacts-form-name" id="contacts-form-name" placeholder="Ваше имя")
                input(type="tel" name="contacts-form-phone" id="contacts-form-phone" placeholder="Телефон")
            .contacts__form-row
                textarea(name="contacts-form-message" id="contacts-form-message" placeholder="Ваш вопрос")
            .contacts__form-footer
                .contacts__form-notes Нажимая кнопку, вы соглашаетесь с политикой конфиденциальности и на обработку персональных данных
                button(type="submit").btn.btn-outer.btn-white.btn-big ОТПРАВИТЬ ЗАЯВКУ
    .eis__icon.eis__icon-2
        .icon.icon-eis-2
    .eis__icon.eis__icon-10
        .icon.icon-eis-10
    .eis__icon.eis__icon-11
        .icon.icon-eis-11
    .contacts__content.js-contacts-map-wrapper
        .contacts__content-close.js-contacts-map-close
            <svg viewBox="0 0 24 24">
                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
        .contacts__info
            .contacts__info-inner
                a.contacts__info-phone(href="tel:+73012501818") +7 (301) 250 18 18
                .contacts__info-address
                    |670000, Россия, Респ. Бурятия, <br>
                    |УЛАН-УДЭ, ул. Свердлова, 6В <br>
                    a.contacts__info-mail(href="mailto:info@antarktida.su ") info@antarktida.su<br>
                    |пн-пт с 9:00 до 18:00 <br>
        .contacts__map
            <div id="map" class="contacts__map-wrapper"></div>
    include ./_footer