section.confidence
    .confidence__wrapper
        .confidence__head
            .confidence__head-title
                h2 НАМ <br>ДОВЕРЯЮТ
            .confidence__head-icon
                .icon.icon-arrow
        .confidence__slider
            .confidence__slider-outer
                .confidence__slider-inner.js-slider-confidence
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/sbarro.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/vb.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/goodzon.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/yamkee.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/company.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/sbarro.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/vb.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/goodzon.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/yamkee.png" alt="").confidence__slider-image
                    .confidence__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/confidence/company.png" alt="").confidence__slider-image
                .confidence__slider-scrolling
                    .confidence__slider-scrolling--body
                        .confidence__slider-scrolling--runner
                .confidence__slider-arrow.confidence__slider-arrow--left(data-target="-1" data-active="true")
                    .arrow.arrow-left
                .confidence__slider-arrow.confidence__slider-arrow--right(data-target="1" data-active="true")
                    .arrow.arrow-right