section.counter
    .container
        .counter__title
            h2 <b>АНТАРКТИДА</b><br>ВАШ НАДЕЖНЫЙ ПАРТНЕР
        .counter__content
            .counter__item
                .counter__item-amount 14
                .counter__item-text лет на рынке строительного проектирования
            .counter__item
                .counter__item-amount 9001
                .counter__item-text Работаем <br>по стандарту качества ISO
            .counter__item
                .counter__item-amount 1350
                .counter__item-text разработанных уникальных проектов
    .eis__icon.eis__icon-1
        .icon.icon-eis-1
    .eis__icon.eis__icon-2
        .icon.icon-eis-2
    .eis__icon.eis__icon-3
        .icon.icon-eis-3
