.dover
    .dover__wrapper
        .dover__head
            .dover__head-title НАМ <br>ДОВЕРЯЮТ
            .dover__head-icon
                .icon.icon-arrow
        .dover__slider
            .dover__slider-outer
                .dover__slider-inner
                    .dover__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/dover/sbarro.png" alt="").dover__slider-image
                    .dover__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/dover/vb.png" alt="").dover__slider-image
                    .dover__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/dover/goodzon.png" alt="").dover__slider-image
                    .dover__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/dover/yamkee.png" alt="").dover__slider-image
                    .dover__slider-item
                        a(href="#" target="_blank")
                            img(src="assets/images/dover/company.png" alt="").dover__slider-image
                .dover__slider-scrolling
                    .dover__slider-scrolling--body
                        .dover__slider-scrolling--runner
                .dover__slider-arrow.dover__slider-arrow--left
                    .arrow.arrow-left
                .dover__slider-arrow.dover__slider-arrow--right
                    .arrow.arrow-right