footer.footer
    .container
        .footer__border
        .footer__content
            .footer__politics
                span © 2006 - 2020
                a(href="#" target="_blank") Политика конфиденциальности <br>и обработки персональных данных
            .footer__phone
                .icon.icon-message
                a(href="tel:+73012501818") +7 (301) 250 18 18
            .footer__logotip
                .footer__logotip-icon.posa
                    .icon.icon-pinguin
                .footer__logotip-title АНТАРКТИДА
                .footer__logotip-slogan раздвигая горизонты
