section.projects#projects
    .container
        .projects__head
            .projects__head-arrow
                .arrow.arrow-bottom
            .projects__title
                h2 ВЫПОЛНЕННЫЕ <br>ПРОЕКТЫ
            .projects__subtitle Работаем как генеральный проектировщик. Реализуем <br>
                |весь спектр услуг - от первого наброска до ввода объекта <br>
                |в эксплуатацию.
            .projects__image
                picture
                    //- <source srcset="mdn-logo.svg" type="image/svg+xml">
                    img(src="assets/images/photo.png" alt="")
    .projects__content
        .projects__content-row
            .projects__content-outer
                .projects__content-arrow.projects__content-arrow--left
                    .arrow.arrow-left
                .projects__content-inner.js-slider-projects-1
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/375.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/369.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/363.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/375.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/369.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-image
                            img(src="assets/images/projects/363.png" alt="")
                            .projects__cart-text Описание проекта небольшое
                        .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
        .projects__content-row
            .projects__content-outer
                .projects__content-inner.js-slider-projects-2
                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/345.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/357.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/351.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА

                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/345.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/357.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                    .projects__cart
                        .projects__cart-inner
                            .projects__cart-image
                                img(src="assets/images/projects/351.png" alt="")
                                .projects__cart-text Описание проекта небольшое
                            .projects__name НАЗВАНИЕ ПРОЕКТА ДОМА
                .projects__content-arrow.projects__content-arrow--right
                    .arrow.arrow-right
        .projects__content-button
            a(href="javascript:void(0);").btn.btn-outer.btn-black.btn-big СМОТРЕТЬ ВСЕ ПРОЕКТЫ
    .eis__icon.eis__icon-4
        .icon.icon-eis-4
    .eis__icon.eis__icon-5
        .icon.icon-eis-5