.publication
    .container
        .publication__head
            .publication__title
                h2 О НАС ГОВОРЯТ В СМИ
            .publication__subtitle ПУБЛИКАЦИИ
        .publication__content
            .publication__slider
                .publication__slider-outer
                    .publication__slider-inner
                        .publication__cart
                            .publication__cart-image
                                img(src="assets/images/publication/publication-1.jpg", alt="")
                            .publication__cart-text Улан-удэнский проектировщик рассказал, какие здания появятся в городе
                            .publication__cart-link
                                .icon.icon-litle-a
                                a(href="#") ЧИТАТЬ
                        .publication__cart
                            .publication__cart-image
                                img(src="assets/images/publication/publication-2.jpg", alt="")
                            .publication__cart-text Здание IMAX отметили на всероссийском уровне. Его фотографии попали на страницы журнала «Проект Россия»
                            .publication__cart-link
                                .icon.icon-litle-a
                                a(href="#") ЧИТАТЬ
                        .publication__cart
                            .publication__cart-image
                                img(src="assets/images/publication/publication-3.jpg", alt="")
                            .publication__cart-text В Улан-Удэ появится еще одна зона отдыха. Изменения ждут бульвар по улице Фрунзе.
                            .publication__cart-link
                                .icon.icon-litle-a
                                a(href="#") ЧИТАТЬ
                .publication__slider-arrow.publication__slider-arrow--left
                    .arrow.arrow-left
                .publication__slider-arrow.publication__slider-arrow--right
                    .arrow.arrow-right
    .publication__icon.publication__icon-1
        .icon.icon-eis-1
    .publication__icon.publication__icon-10
        .icon.icon-eis-10