section.reviews
    .container
        .reviews__title
            h2 НАМ ГОВОРЯТ СПАСИБО
        .reviews__content
            .reviews__slider
                .reviews__slider-outer
                    .reviews__slider-inner.js-slider-reviews
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-1.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-2.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-3.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-4.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-3.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-2.jpg", alt="")
                        .reviews__card
                            .reviews__card-inner
                                .reviews__card-image
                                    img(src="assets/images/reviews/reviews-4.jpg", alt="")
                .reviews__slider-arrow.reviews__slider-arrow--left
                    .arrow.arrow-left
                .reviews__slider-arrow.reviews__slider-arrow--right
                    .arrow.arrow-right
    .eis__icon.eis__icon-1
        .icon.icon-eis-1