.services
    .services__inner
        .container
            .services__subtitle
                span Работая много лет, мы детально изучили каждое препятствие до самой глубокой точки и смело даем гарантию конечного результата
            .services__content
                .services__item
                    .services__item-icon
                        .icon.icon-services-1
                    .services__item-title КОНСАЛТИНГ
                    ul.services__item-list
                        li Расчет стоимости <br>разработки проекта
                        li Разработка и согласование технического задания
                        li План застройки
                        li Эскизный проект
                        li Технико-экономическое обоснование
                        li Исходно-разрешительная документация
                        li Обследование зданий <br>и сооружений
                        li Инженерные изыскания
                .services__item
                    .services__item-icon
                        .icon.icon-services-2
                    .services__item-title.services__item-title--dark ПРОЕКТИРОВАНИЕ
                    ul.services__item-list.services__item-list--dark
                        li Проектная документация
                        li Экологическая, техническая экспертизы проектной документации
                        li Согласование документации в ресурсоснабжающих организациях
                        li Разрешение на строительство
                        li Рабочая документация
                        li BIM - технологии
                        li Повторное применение проектной документации
                .services__item
                    .services__item-icon
                        .icon.icon-services-3
                    .services__item-title СОПРОВОЖДЕНИЕ
                    ul.services__item-list.services__item-list--dark
                        li Авторский надзор
                        li Строительный контроль
                        li Государственный <br>надзор (ГАСН)
                        li Ввод в эксплуатацию
    .services__arrow
        .arrow.arrow-bottom
    .services__icon.services__icon-6
        .icon.icon-eis-6