.steps
    .steps__bg
        .steps__content
            .container
                .steps__title
                    h2 ЭТАПЫ РАБОТЫ НАД ПРОЕКТОМ
                .steps__items
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-1
                            .steps__item-text
                                p Встреча
                                p с Вами
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-2
                            .steps__item-text
                                p Подробная
                                p консультация
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-3
                            .steps__item-text
                                p Консалтинг
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-4
                            .steps__item-text
                                p Эскизный
                                p проект
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-5
                            .steps__item-text
                                p Изыскания
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-6
                            .steps__item-text
                                p Проектная
                                p документация
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-7
                            .steps__item-text
                                p Экспертиза
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-8
                            .steps__item-text
                                p Разрешение
                                p на строительство
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-9
                            .steps__item-text
                                p Рабочая
                                p документация
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-10
                            .steps__item-text
                                p Авторский
                                p надзор
                    .steps__item
                        .steps__item-wrap
                            .steps__item-icon
                                .icon.icon-step-11
                            .steps__item-text
                                p Ввод
                                p в эксплуатацию
            .steps__content-simbol
                .icon.icon-simbol
        .steps__questions
            .container
                .steps__title
                    h2 ПОЯВИЛИСЬ ВОПРОСЫ?
                .steps__subtitle Появились какие-либо вопросы, напишите нам, и мы на них ответим
                form.steps__form
                    .steps__form-row
                        input(type="text" id="steps-name" name="name" placeholder="Ваше имя")
                        input(type="tel" id="steps-phone" name="phone" placeholder="Ваш телефон")
                    .steps__form-row
                        textarea(type="text" id="steps-question" name="question" placeholder="Ваш вопрос")
                    .steps__form-footer
                        .steps__form-notes Нажимая кнопку, вы соглашаетесь с политикой конфиденциальности и на обработку персональных данных
                        button(type="submit").btn.btn-outer.btn-white.btn-big ОТПРАВИТЬ ЗАЯВКУ
    .steps__icon.steps__icon-1
        .icon.icon-eis-1
    .steps__icon.steps__icon-8
        .icon.icon-eis-8