.technology
    .technology__body
        .technology__body-bg
            .container
                .technology__head
                    .technology__title
                        h2 <b>НАШИ ТЕХНОЛОГИИ</b><br>ИСПОЛЬЗУЕМЫЕ В РАБОТЕ
                    .technology__head-link
                        a(href="https://ru.wikipedia.org/wiki/BIM") BIM (Building Information Model <br>или Modeling)&nbsp;
                        span - информационное моделирование зданий и сооружений.
                .technology__content
                    .technology__video
                        video(controls="controls" loop="true" poster="assets/images/video-banner.jpg")
                            source(src="https://modx.beinweb.ru/assets/video/Video_MODX.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                            |Тег video не поддерживается вашим браузером.
                    .technology__description
                        p Это программа ещё до начала строительства покажет вам готовый объект - как в натуральном виде, вплоть до цвета фасада, так и в разрезе. В том числе выделит каждую инженерную сеть отдельно: водную, газовую, электрическую, канализационную, коммуникацоннную
                        p В соответствии с последними мировыми трендами и требованиями законов России появилась необходимость применять в своих проектах информационное моделирование BIM.
                .technology__footer
                    .technology__footer-wrapper
                        .technology__footer-title
                            p Посмотреть видео <br>проектирования здания
                        .technology__footer-link
                            a(href="#") СМОТРЕТЬ
                            .technology__footer-icon
                                .icon.icon-tablet
                .technology__map-title
                    h2 ОБЪЕКТЫ КОМПАНИИ НА КАРТЕ
    .technology__map
        #map2.posa