section.vybor
    .vybor__wrapp
        .container
            .vybor__head
                .vybor__title
                    h2 КЛИЕНТЫ ВЫБИРАЮТ НАС
                .vybor__subtitle
                    span И вот почему:
                .vybor__head-simbol
                    .icon.icon-vybor-a
            .vybor__content
                .vybor__col
                    .vybor__article
                        .vybor__article-title БЫСТРАЯ ОКУПАЕМОСТЬ <br>ЗАТРАТ НА ПРОЕКТИРОВАНИЕ
                        .vybor__article-text Эффективное использование каждого квадратного метра за счет продуманности при проектировании минимизирует необходимость внесения изменений в документацию. Это существенно экономит затраты при строительстве и эксплуатации объекта и окупает стоимость проектных работ.
                    .vybor__article
                        .vybor__article-title ОПЕРАТИВНОЕ ВЗАИМОДЕЙСТВИЕ
                        .vybor__article-text В течении суток даем коммерческое предложение.
                .vybor__col
                    .vybor__article
                        .vybor__article-title ИНТЕРЕСЫ КЛИЕНТА ПРЕВЫШЕ ВСЕГО
                        .vybor__article-text Умеем и знаем, что нет ничего невозможного, специалисты компании достигнут поставленных целей и задач от самых простых, до самых сложных. Благополучие клиента и благосостояние в сфере нашей ответственности.
                    .vybor__article
                        .vybor__article-title ГАРАНТИРОВАНО ПРОЙДЕТЕ ЭКОЛОГИЧЕСКУЮ ЭКСПЕРТИЗУ
                        .vybor__article-text Ежегодно наши специалисты успешно проходят экологическую экспертизу для 50+ объектов 
                .vybor__col
                    .vybor__article
                        .vybor__article-title ЛУЧШИЕ РЕШЕНИЯ, НОВЫЕ МАТЕРИАЛЫ И ПРОВЕРЕННЫЕ ТЕХНОЛОГИИ
                        .vybor__article-text Мы следим за появлением новых материалов и технологий. Каждую новинку тестируем. Подберем оптимальный вариант под ваши требования.
                    .vybor__article
                        .vybor__article-title С НАМИ ЛЕГКО ПОЛУЧИТЬ РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО
                        .vybor__article-text Наши специалисты учитывают все технические, юридические нюансы при разработке проекта, поэтому разрешение на строительство вы получите с первого раза
    .eis__icon.eis__icon-2
        .icon.icon-eis-2
    .eis__icon.eis__icon-9
        .icon.icon-eis-9