block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="BeInWeb Studio <info@beinweb.ru>" name="author")
        meta(content="" name="description")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        <link rel="icon" type="image/png" href="./assets/images/favicon/favicon.ico"/>
        link(rel='stylesheet' href='./assets/styles/main.min.css')
    body
        include ./mixins/_mixins

        block content

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp625t4RGV1qlsbMk6nCqS3wXU_tiDpYA"></script>
        script(src="./assets/scripts/libs.min.js")
        script(src="./assets/scripts/script.min.js")