-
	var topMenu = [
		{url: '/about.html#main', name: 'Как работает BONCUPON'},
		{url: '/about.html#pay', name: 'Как оплатить'},
		{url: '/about.html#place', name: 'Как разместить купон'},
		{url: '/about.html#contacts', name: 'Контакты'}
	]

	var dropdownMenu = [
		{name: 'АКТИВНЫЙ ОТДЫХ', iconName: 'running', active: true},
		{name: 'КРАСОТА', iconName: 'lotus', active: false},
		{name: 'ЗДОРОВЬЕ', iconName: 'favorites', active: false},
		{name: 'НОВИНКИ', iconName: 'pineapple', active: false},
		{name: 'РАЗНОЕ', iconName: 'sun', active: false},
		{name: 'ОБУЧЕНИЕ ', iconName: 'mortarboard', active: false}
	]

	var socItems = ['youtube', 'hz', 'fb', 'inst', 'wtapp', 'telegr', 'tw']