.footer {
    background: url('../../assets/images/busch_bg_1.png') 14.5% 5px no-repeat, url('../../assets/images/busch_bg_2.png') 81.7% 21px no-repeat;
    background-color: rgba($colorBlueDark, .9);

    @include mq(1599) {
        background: url('../../assets/images/busch_bg_1.png') 0 23px no-repeat, url('../../assets/images/busch_bg_2.png') 99% 29px no-repeat;
        background-color: rgba($colorBlueDark, .9);
    }

    @include mq(1439) {
        background: url('../../assets/images/busch_bg_1.png') -7.5% 33px no-repeat, url('../../assets/images/busch_bg_2.png') 106.7% 39px no-repeat;
        background-color: rgba($colorBlueDark, .9);
    }

    @include mq(1023) {
        background: rgba($colorBlueDark, .9);
    }

    &__border {
        width: 912px;
        height: 5px;
        margin: 0 auto;

        background-color: #BDE9F9;

        @include mq(1023) {
            width: 700px;
        }

        @include mq(767) {
            width: 420px;
        }

        @include mq(449) {
            width: 300px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 115px;
        padding: 0 162px 15px 227px;

        @include mq(1439) {
            padding: 0 122px 15px 102px;
        }

        @include mq(1023) {
            padding: 0 0 15px;
        }

        @include mq(767) {
            flex-wrap: wrap;
            height: auto;
            padding: 20px 0 20px 100px;

            > div {
                width: 100%;
            }
        }

        @include mq(449) {
            padding: 15px 0;
        }
    }

    &__politics {
        padding: 3px 0 0;

        span,
        a {
            font-size: 12px;
            color: $colorWhite;

            @include montserrat(400);
        }

        a {
            display: block;
            margin: 2px 0 0;

            line-height: 16px;
        }
    }

    &__phone {
        display: flex;
        padding: 18px 27px 0 0;

        .icon {
            margin: 0 2px 0 0;

            transform: scale(.63);
            transform-origin: 50% 15%;
        }

        a {
            font-size: 28px;
            letter-spacing: -.2px;
            color: $colorWhite;
            text-decoration: none;

            @include openSansCond(400);
        }
    }

    &__logotip {
        position: relative;

        padding: 0 0 0 34px;
    }

    &__logotip-icon {
        width: 27px;

        .icon {
            transform: scale(.63);
            transform-origin: 50% 16%;

            &:hover {
                transform: scale(-.63, .63);
            }
        }
    }

    &__logotip-title {
        font-size: 21px;
        letter-spacing: 4.5px;
        color: $colorLightBlue;

        @include openSansCond(300);
    }

    &__logotip-slogan {
        font-size: 8px;
        letter-spacing: 2.4px;
        color: $colorWhite;
        text-transform: uppercase;

        @include openSansCond(600);
    }
}